<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-5 m-b-xs"><select class="input-sm form-control input-s-sm inline">
                <option value="0">YOGI</option>
                <option value="1">Option 2</option>
                <option value="2">Option 3</option>
                <option value="3">Option 4</option>
            </select>
        </div>
        <div class="col-sm-4 m-b-xs">
            <div data-toggle="buttons" class="btn-group">
                <label class="btn btn-sm btn-white"> <input type="radio" id="option1" name="options"> Dia </label>
                <label class="btn btn-sm btn-white active"> <input type="radio" id="option2" name="options"> Semana </label>
                <label class="btn btn-sm btn-white"> <input type="radio" id="option3" name="options"> Mes </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
            <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">

            <div class="ibox">
                
                <div class="ibox-title">
                    
                    <span class="pull-right">(<strong>Utimo comentario</strong>) </span>
                    <h5>Publicaciones</h5>
                    
                </div>
              
                
                <post></post>
                <post></post>
                <post></post>
                <post></post>
                <post></post>
                <post></post>
                <post></post>
                

          </div>
    </div>
</div>
