<div class="col-md-2">
    <div class="ibox">
        <div class="ibox-content product-box">
            <div>
                <img [src]="cart.imagen">
            </div>
            
            <div class="product-desc">
                <span class=" product-price">
                    Quitar
                </span>
                <small class="text-muted">{{cart.categoria}}</small>
                <a href="#" class="product-name"> {{cart.nombre}}</a>
            </div>
        </div>
    </div>
</div>
