 <div class="modal inmodal fade" id="myModal5" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
           
               <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Agrega cartas a tu inventario </h5>
                        </div>
                        <div class="ibox-content">
<div class="row">
                        <div class="col-sm-3">
                  <div class="input-group"><input type="text" placeholder="Nombre o codigo" class="input-sm form-control"> <span class="input-group-btn">
                  <button type="button" class="btn btn-sm btn-primary"> Buscar</button> </span></div>
              </div>
              <div class="col-sm-4 m-b-xs">
                  <div data-toggle="buttons" class="btn-group">
                      <label class="btn btn-sm btn-white"> <input type="radio" id="option1" name="options"> Inges </label>
                      <label class="btn btn-sm btn-white active"> <input type="radio" id="option2" name="options"> Español </label>
                  </div>
              </div>
                <div class="col-sm-5 m-b-xs"><select class="input-sm form-control input-s-sm inline">
                      <option value="0">Common / Comun</option>
                      <option value="1">Option 2</option>
                      <option value="2">Option 3</option>
                      <option value="3">Option 4</option>
                  </select>
              </div>
          </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Codigo </th>
                                        <th>Nombre </th>
                                        <th>Idioma</th>
                                        <th>Rareza</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>099009090</td>
                                        <td><span class="pie">Mago verde</span></td>
                                        <td>Ingles</td>
                                        <td><span class="label label-danger">Rare</span></td>
                                        <td><button class="btn btn-sm btn-primary">Añadir</button></td>
                                    </tr>
                                      <tr>
                                        <td>099009090</td>
                                        <td><span class="pie">Mago claro</span></td>
                                        <td>Español</td>
                                        <td><span class="label label-info">Comun</span></td>
                                        <td><button class="btn btn-sm btn-primary">Añadir</button></td>
                                    </tr>
                                      
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Listo</button>
            </div>
        </div>
    </div>
</div>
