<!-- <div class="ibox-content">
	<div class="table-responsive">
		<table class="table shoping-cart-table">

			<tbody>
				<tr>
					<td width="90">
						<img routerLink="profile-form" src="http://lorempixel.com/80/100/">
					</td>
					<td class="desc">
						<h3>
							<a href="#" class="text-navy">
							Tradeo carta qla jeta 
							</a>
						</h3>
						<p class="small">
							Busco tamarindo chamuscado mas plata Busco tamarindo chamuscado mas plata  Busco tamarindo chamuscado mas plata 
						</p>
						<dl class="small m-b-none">
							<dt>Usuario nembo</dt>
							<dd>Activo desde el 13-2-2018.</dd>
						</dl>

						<div class="m-t-sm">
							<a href="#" class="text-muted"><i class="fa fa-gift"></i> Ir al perfil</a>
							|
							<a href="#" class="text-muted"><i class="fa fa-trash"></i> Ir al inventario</a>
						</div>
					</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>

</div>

--> 

<div class="ibox-content">
	<div class="row">
		<div class="col-md-1">
			<img routerLink="profile-form" src="http://lorempixel.com/80/100/">
		</div>
		<div class="col-md-4">
			<td class="desc">
				<h3>
					<a href="#" class="text-navy">
					Tradeo carta qla jeta 
					</a>
				<dl class="small m-b-none">
					<dd>Hace 10 minutos - Santiago</dd>
				</dl>
				</h3>
				
				<p class="small">
					Busco tamarindo chamuscado mas plata Busco tamarindo chamuscado mas plata  Busco tamarindo chamuscado mas plata 
				</p>
				<dl class="small m-b-none">
					<dt>Usuario nembo</dt>
					<dd>Activo desde el 13-2-2018.</dd>
				</dl>

				<div class="m-t-sm">
					<a href="#" class="text-muted"><i class="fa fa-gift"></i> Ir al perfil</a>
					|
					<a href="#" class="text-muted"><i class="fa fa-trash"></i> Ir al inventario</a>
				</div>
			</td>
		</div>
		<div class="col-md-4">

			<div class="slick_demo_2">
				<div>
					<div class="ibox-content">
						<img routerLink="profile-form" src="http://lorempixel.com/80/100/">
					</div>
				</div>
				<div>
					<div class="ibox-content">
						<img routerLink="profile-form" src="http://lorempixel.com/80/100/">
					</div>
				</div>
				<div>
					<div class="ibox-content">
						<img routerLink="profile-form" src="http://lorempixel.com/80/100/">
					</div>
				</div>
				<div>
					<div class="ibox-content">
						<img routerLink="profile-form" src="http://lorempixel.com/80/100/">
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<td class="desc">
				<dl class="small m-b-none">
					<dt>Me interesa tu camello</dt>
					<dd>Hace 10 minutos.</dd>
				</dl>

				<div class="m-t-sm">
					<a href="#" class="text-muted"><i class="fa fa-gift"></i> Ir al perfil</a>
					|
					<a href="#" class="text-muted"><i class="fa fa-trash"></i> Ir al inventario</a>
				</div>
			</td>
		</div>
	</div>
</div>
