    <div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Opciones <small>filtra tus cartas.</small></h5>
            </div>
            <div class="ibox-content">
                <div class="input-group m-b"><span class="input-group-btn">
                    <button type="button" class="btn btn-primary">CODIGO</button> </span> <input type="text" class="form-control">
                </div>
                <div class="input-group m-b">
                    <div class="radio radio-info radio-inline">
                        <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked="">
                        <label for="inlineRadio1"> Español </label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" id="inlineRadio1" value="option2" name="radioInline">
                        <label for="inlineRadio1"> Ingles </label>
                    </div>
                </div>
                <div class="form-group">
                     <select class="chosen-select" style="width:350px;" tabindex="4">
                        <option value="">Categoria</option>
                        <option value="United States">Fea</option>
                        <option value="United Kingdom">Mala</option>
                        <option value="Afghanistan">Cochina</option>
                        <option value="Aland Islands">Pulenta</option>
                     </select>
                </div>
                <div class="form-group">
                                        
                    <div class="checkbox checkbox-info">
                        <input id="checkbox4" type="checkbox">
                        <label for="checkbox4">
                            Fea
                        </label>
                    </div>
                    <div class="checkbox checkbox-info">
                        <input id="checkbox4" type="checkbox">
                        <label for="checkbox4">
                            Mala
                        </label>
                    </div>
                    <div class="checkbox checkbox-info">
                        <input id="checkbox4" type="checkbox">
                        <label for="checkbox4">
                            TAAAA
                        </label>
                    </div>
                    <div class="checkbox checkbox-info">
                        <input id="checkbox4" type="checkbox">
                        <label for="checkbox4">
                            WATE
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <p>Puedes agregar mas cartas a tu inventario <a>Explorar</a></p>
                </div>
            </div>
        </div>
    </div>
